/* //components/Botao.css */

.botao {
    background-color: var(--fundo);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
}

.botao:hover {
    background-color: #f1d742;
}